__pycache__/
credentials.txt
data/kwic_heinsius.jsonl
data/kwic_heinsius.pkl
data/training_pairs_1626_1630.jsonl
data/ORG-annotations.json
data/hoe_graph/node_text_embeddings.npz
data/LOC-annotations.json
data/PER-annotations.json
